In [22]:
import pandas as pd
df = pd.read_csv("salary_prediction_dataset.csv")
df.head()

   Company Job_Status     Degree  Salary
0   Google     Intern        PhD   69506
1   Amazon     Junior  Bachelors   61679
2  Startup     Intern        PhD   56912
3   Google     Intern  Bachelors   48582
4   Amazon     Intern        PhD   63257

In [23]:
company = df.drop(["Salary"], axis = "columns")

In [26]:
df['Salary'] = (df['Salary'] > 100000).astype(int)
target = df.Salary

In [42]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
ohe = OneHotEncoder(drop = "first", sparse = False)
company_encoder = ohe.fit_transform(df[['Company']])
company_encoded_df = pd.DataFrame(company_encoder, columns=ohe.get_feature_names_out(['Company']))

C:\ProgramData\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [32]:
colum = ["Job_Status" , "Degree"]

In [45]:

dff = df.copy()
encoder = LabelEncoder()
for col in colum:
    dff[col] = encoder.fit_transform(dff[col])

dff

      Company  Job_Status  Degree  Salary
0      Google           0       2       0
1      Amazon           1       0       0
2     Startup           0       2       0
3      Google           0       0       0
4      Amazon           0       2       0
..        ...         ...     ...     ...
95     Google           3       1       0
96  Microsoft           1       2       0
97     Google           3       2       0
98    Startup           1       0       0
99     Amazon           2       0       0

[100 rows x 4 columns]

In [46]:
dff = dff.drop("Company" , axis = 1)

final_df = pd.concat([dff, company_encoded_df], axis=1)
final_df

,Job_Status,Degree,Salary,Company_Facebook,Company_Google,Company_Microsoft,Company_Startup
0,0,2,0,0.0,1.0,0.0,0.0
1,1,0,0,0.0,0.0,0.0,0.0
2,0,2,0,0.0,0.0,0.0,1.0
3,0,0,0,0.0,1.0,0.0,0.0
4,0,2,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
95,3,1,0,0.0,1.0,0.0,0.0
96,1,2,0,0.0,0.0,1.0,0.0
97,3,2,0,0.0,1.0,0.0,0.0
98,1,0,0,0.0,0.0,0.0,1.0
99,2,0,0,0.0,0.0,0.0,0.0

In [54]:
x = final_df.drop("Salary" , axis = 1)
y = final_df['Salary']

In [55]:
print(x.shape)
print(y.shape)

(100, 6)
(100,)

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
xtrain,xtest,ytrain,ytest = train_test_split(x, y, test_size = 0.2, random_state = 42)

model = DecisionTreeRegressor()
model.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [57]:
model.score(xtest,ytest)

1.0

In [60]:
model.predict([[0,2,0,0,0,0]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([0.])

In [61]:
model.predict([[0,2,0,0,0,1]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([0.])